pkgbase = quickview
	pkgdesc = macOS Quick Look for KDE Plasma 6 / Dolphin
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/LexYena/ArchQuickView
	arch = any
	license = MIT
	depends = python
	depends = python-pyqt6
	depends = python-pyqt6-webengine
	depends = poppler
	depends = ffmpegthumbnailer
	depends = ffmpeg
	depends = python-pillow
	depends = python-pygments
	optdepends = python-mpv: video and audio playback
	source = quickview-1.0.0.tar.gz::https://github.com/LexYena/ArchQuickView/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 466293098f0e577894eb3139c4ad90d675b9f374cef08a19107922713282c3fa

pkgname = quickview
